<ul class="horizontal-list">
  {%- for item in include.collection -%}

    <li class="card{% if item.thumb %} card-thumb{% endif %}">
      <a href="{{ item.url }}">
        <span class="header">
          {%- if item.thumb -%}
            {%- if item.embed -%}
              {{ item.embed }}
            {%- else -%}
              <img src="{{ item.thumb }}" alt="thumb">
            {%- endif -%}
          {%- endif -%}

          {{ item.title }}

          {%- if item.highlight -%}
            <mark>{{ item.highlight }}</mark>
          {%- endif -%}

        </span>

        <hr />

        {%- if item.desc != false -%}
        <p class="body">
          {{ item.desc }}
        </p>
        {%- endif -%}
      </a>
    </li>

  {%- endfor -%}
</ul>
