<figure>
	{%- if include.topcaption -%}
	<figcaption>{{ include.topcaption }}</figcaption>
	{%- endif -%}
	<video{% if include.width %} width="{{ include.width }}" height="{{ include.height }}"{% endif %}{% if include.poster %} poster="{{ include.poster }}"{% endif %} controls>
		<source src="{{ include.url }}" type="video/mp4">
		Your browser does not support the &lt;video&gt; tag.
	</video>
	{%- if include.botcaption -%}
	<figcaption>{{ include.botcaption }}</figcaption>
	{%- endif -%}
</figure>
